@font-face 
{
    font-family: "blocky";
    src: url("../fonts/BlockyFont/bloky.TTF") format("truetype");
}

body 
{
    font-family: "blocky";
}

p { color: black }

h1 { color: black }

a { color: red}

img[alt="logo"] { border-radius: 35%; }

img { box-shadow: 0 0 20px 0px rgb(108, 108, 108); }
